name: Blue Green Sync to Pantheon Sites
on:
  push:
    branches:
      - main
jobs:
  setup:
    runs-on: ubuntu-latest
    env:
      GITHUB_CONTEXT: ${{ toJson(github) }}
    steps:
      - uses: actions/checkout@v1

      - name: Configure Pantheon
        uses: /.github/actions/configure-pantheon
